iframe {
            width: 80%;
            height: 440px;
            border: none;
            overflow: hidden;
        }
        .back {
            margin-top: 40px;
            text-align: center;
            font-size: 30px;
        }